@{
    ViewData["Title"] = "Home Page";
    
}
@model CarProperty

<div class="text-center">
    <h1 class="display-4">Welcome To Eddie's Car Recommendations For Colorado</h1>
    <div class="background-video" autoplay >
    <video controls="controls" autoplay loop muted>
        
                <source src="~/images/production%20id_5111192.mp4" type="video/mp4" />
       
    </video>
    </div>
    <br />
    
    <body1>
        <div class="container">
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
            <p2></p2>
        </div>
    </body1>
    

    @using (Html.BeginForm("ViewCar", "Home", "Post"))
    {
    <div class="form-group">

        <label class="title" for="">Select a Vehicle</label>
        <br/>
        <select class="form-control" name="Make" value="">
            @foreach (var cat in Model.options)
            {
                <option value="@cat">@cat</option>
            }
        </select>
    </div>
    <br /> <br /><br /><br />
    <input type="submit" value="Submit Choice" class="btn btn-primary" />
    
  
    
    

    

    }
</div>
